#today{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;
    align-items: baseline;
}
.today-active{
    visibility: visible;
}
.heading{

    color: hsl(0, 1%, 24%);
}
#today input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;

  }


  #table{
    width: 100%;
    text-align: center;
    font-size: medium ;
    margin-left: 1%;
    margin-top: 0.5%;
    table-layout: fixed;
    border-top: 2px solid #d1d1d1;
    padding-top: 20px;

  }


  th{
    
    font-size: 22px;
    font-weight: bolder;
    border: 2px solid rgb(255, 255, 255);
    padding: 1%;

  }

  td{
    border: 2px solid rgb(255, 253, 253);
    padding: 0.5%;
  }
  th:nth-child(1) {
    width: 15%;
    
    }
  
  /* the second */
  th:nth-child(2) {
    width: 50%;
  }
  
  /* the third */
  th:nth-child(3) {
    width: 20%;
   }

   th:nth-child(4){
    width: 15%;
   }

   #tableBody input[type="checkbox"]{
      width: 18px;
      height: 18px;
   }

  #tomorrow{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;  
}

#tomorrow input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;

  }

  #overdue{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;
    
    
}

#overdue input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;


  }

  #personal{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;
    
    
}

#personal input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;

  }

  #home{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;
    
    
}

#home input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;

  }


  #office{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;
    
    
}

#office input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;

  }

  #travel{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;
    
    
}

#travel input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;

  }

  #other{
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 9%;
    padding-bottom: 0px;
    
    
}

#other input[type=text] {
    float: center;
    padding: 8px 17% 8px 16px;
    border: 2px solid rgb(143, 143, 143);
    margin-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
    border-radius: 5px;

  }
  